<div class="sidebar-card profile">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
      <a href="/pages/articles">ARTICLES</a>
      <a href="/pages/journal">JOURNAL</a>
      <a href="/pages/all-wiki">WIKI</a>
      <a href="/pages/tags">INDEX</a>
      <a href="/pages/library">LIBRARY</a>
    </div>
      <div class="sidebar-link-box profile">
      <a href="/pages/sorter">乃木坂46 SORTER</a>
      <a href="/pages/senbatsu-maker">乃木坂46 SENBATSU MAKER</a>
      <a href="https://www.are.na/teresa-3" target="_blank">ARE.NA</a>
      <a href="https://twitter.com/nyagi88" target="_blank">TWITTER</a>
      <a href="/ring">WEBRING</a>

    </div>
  </div>